.App {
  height: 100vh;
  text-align: center;
}

.SplitPane {
  display: flex;
  height: 100%;
  width: 100%;
}

.Pane {
  flex: 1;
}

.left {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.right {
  background-color: white;
}
